.containerAnimeList {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  white-space: nowrap;
  gap: 1.8rem;
  margin: 1rem 5rem;
  padding: 3rem;
}

/* Personalizar la barra de desplazamiento */
.containerAnimeList::-webkit-scrollbar {
  height: 5px;
}

/* Fondo de la barra de desplazamiento */
.containerAnimeList::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Barra de desplazamiento */
.containerAnimeList::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Barra de desplazamiento al pasar el mouse */
.containerAnimeList::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.resultScore {
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: brown;
  margin: 1rem;
}

.resultScore .legend {
  font-size: 2rem;
  color: antiquewhite;
  text-align: center;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: red;
  font-weight: bolder;
  height: 50vh;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: red;
  font-weight: bolder;
  height: 50vh;
}
