.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: brown;
  font-size: 2rem;
  border-top: 2px solid red;
  margin: 1rem;
}

.footer .subtitle {
  text-align: center;
}
