.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: brown;
  font-size: 2rem;
  border-bottom: 2px solid red;
  margin: 1rem;
}

.header .title {
  text-align: center;
  text-shadow: 0 0 10px rgba(219, 23, 23, 0.5);
  padding: 1rem;
}
